* {
	padding:0;
	margin:0;
}
a {
	text-decoration:none;
}
ul, li {
	list-style: none;
}
body {
	background:url(../images/body_bg.jpg) repeat;
	font:normal 100% Helvetica, Arial, sans-serif;
	font-size:16px;
}
h1 {
	font-size:1.5em;
}
.clear {
	clear: both;
}
.header {
	position:fixed;
	top: 0;
	left: 0;
	background: #2b2927; 
	width: 100%; 
	height: 40px; 
	color: #ffffff; 
	z-index: 10px;
}
.header-top {
	line-height:40px;
	height: 40px;
	width: 74.129%;
	margin-left:auto;
	margin-right: auto;
}
.header-top-left a {
	color: #ffffff;
	font-weight: bolder;

}
.header-top-left li {
	float:left;
	padding:0px 10px; 
}
.main {
	margin-top:3%;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	min-height: 620px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main-center {
	width:74.129%;
	margin-left:auto;
	margin-right: auto;
}
.main-name {
	margin-left: 1%;
	width:40%;
	height: auto;
	padding-top:3%;
}
.main-name h1 {
	font-size: 2.5em;
	margin-top: 20px;
	color: #2b2927; 
}
.main-name span {
	display:block;
	margin-top: 20px;
	font-size: 0.875em;
}
.main-nav {
	padding-left:20px;
	margin-top: 10px;
	width:100%;
	height: 30px;
	line-height: 30px;
}
.main-nav a {
	font-weight:bold;
	color: #2b2927;
	padding: 10px 5px;
}
.main-nav a:hover {
	color:#F2C372;
}
.main-left {
	margin-top:1.5%;
	width:23.5%;
	float:left;
	border:solid 1px #B0AD9C;
	text-align:center;
}
.myinfo-title {
	width:100%;
	text-align:left;
	padding:3% 0;
}
.myinfo-title span,.blog-list span  {
	margin-left:3%;
	font-size:1em;
}
.myinfo-name {
	padding:3%;
}
.blog-list {
	width:95%;
	margin-top:5%;
	margin-left: auto;
	margin-right: auto;
	padding-top:5%;
	border-top:solid 1px #2b2927;
	text-align:left;
}
.blog-list-content {
	margin:3% 0;
}
.blog-list-content li {
	width: 100%;
	padding:0.1% 0;
}
.blog-list-content a {
	margin-left: 8%;
	font-size:0.875em;
	color:#2b2927;
}
.main-right {
	float:left;
	margin-top:1.5%;
	margin-left:1.5%;
	width:73%;
	border:solid 1px #B0AD9C;
}
.blog-title {
	width:100%;
	padding-left:3%;
	padding-top: 1.2%;
	padding-bottom: 1.5%;
	color:#2b2927; 
}
.blog-time {
	width:90%;
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	padding-left:6%;
	padding-bottom:1.5%;
	border-bottom:dashed 1px #B0AD9C;
}
.blog-content {
	width:95%;
	margin:5% auto;
	text-indent: 2em;
}
.blog-content p{
	width:100%;
	line-height:1.8em;
}
.footer {
	width:100%;
	text-align:center;
}
.copyright {
	padding-top:3%;
	padding-bottom:2%;
}