*{
	padding: 0;
	margin:0;
}
body{
	font-size: 16px;
}
ul{
	list-style: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.top{
	background: rgb(43, 41, 39); 
	width: 100%; 
	height: 65px; 
	color: rgb(255, 255, 255); 
	border-top-color: rgb(204, 55, 75); 
	border-top-width: 2px; 
	border-top-style: solid;
}
.top > span{
	height: 65px; 
	line-height: 65px; 
	font-size: 24px; 
	font-weight: bold; 
	margin-left: 50px; 
	float: left; 
	display: block;
}
.top-right {
	float:right;
}
.top-right > p {
	margin: 0px 50px 0px 0px; 
	padding: 0px; 
	height: 65px; 
	line-height: 65px; 
	float: left; 
	display: block;
}
.top-right > span {
	height:65px;
	line-height: 65px;
	margin-right: 20px;
	float: left;
	display: block;
}
.left {
	width:200px;
	background: rgb(66, 79, 99);
	height: 100%;
	float: left;
}
.left ul{
	width: 200px; 
	height: auto; 
	float: left;
}
.left > ul > li {
	width:200px;
	height:auto;
	float: left;
	position: relative;
}
.left > ul > li > a {
	width: 200px;
	height: 45px;
	color: rgb(255, 255, 255); 
	line-height: 45px; 
	text-indent: 2.5em; 
	border-top-color: rgb(255, 255, 255); 
	border-top-width: 1px; 
	border-top-style: solid; 
	float: left; 
	display: block; 
	cursor: pointer;
}
.left > ul > li > a.a_list1 {
	background: url("../images/ic_user.png") no-repeat 15px;
}
.left > ul > li > a.a_list2 {
	background: url("../images/ic_grid.png") no-repeat 15px;
}
.left > ul > li > a.a_list3 {
	background: url("../images/ic_user.png") no-repeat 15px;
}
.left > ul > li > .menu_list {
	background: rgb(53, 63, 79); width: 200px; height: auto; font-size: 14px; float: left;
}
.left > ul > li > .menu_list_first {
	background: rgb(53, 63, 79);
}
.left > ul > li > .menu_list > a {
	width: 200px; height: 38px; color: rgb(255, 255, 255); line-height: 38px; text-indent: 3em; float: left; display: block;
}
.left > ul > li > .menu_list > a:hover {
	background: rgb(42, 50, 63);
}
.right{
	width: 85%;
	float: left;
	height:auto;
}

.right > iframe {
	width: 100%;
	height: 100%;
	border: none;
}